<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <%= content_tag :h3, "#{@mailer_name}."%>
    <br>

    <h3>
      <%= "#{@name}" %>
    </h3>

    <%= content_tag :p, "#{@comments}"%>
  </body>
</html>
